[mysqld]
# Базовые настройки
skip-name-resolve          # Не тратить время на DNS резолв IP адресов
default_storage_engine = InnoDB
max_connections = 150      # Лимит соединений (не ставьте слишком много)

# InnoDB Оптимизация (Самое важное)
# Выделите под буфер 50-70% от RAM, доступной КОНТЕЙНЕРУ базы данных.
# Если у сервера 4ГБ, и база одна, ставьте 1G или 2G.
innodb_buffer_pool_size = 1G 
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 2 # 0 или 2 быстрее, чем 1 (стандарт), но есть риск потери 1 сек данных при крахе
innodb_flush_method = O_DIRECT

# Кэши и буферы
tmp_table_size = 64M
max_heap_table_size = 64M
query_cache_type = 0       # В современных версиях лучше выключить и полагаться на Redis
query_cache_size = 0